@import '/src/themes/themes.scss';

.category-tab{
    padding: $main-padding 20px;
    border: 1px solid $secondary-color;
    box-shadow:  $box-shadow;
    font-size: $main-font-size;
    width: fit-content;
    background: $white-color;

    &:hover{
        border-color: $primary-color;
        cursor: pointer;
        color: $primary-color;
    }
    
}