<div class="products-container">
    <div class="product-header">
        <p class="title">{{''}}Products</p>
        <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat</p>
        <div class="category-section">
            <app-category-tab [category]="category"></app-category-tab>
            <app-category-tab [category]="category"></app-category-tab>
            <app-category-tab [category]="category"></app-category-tab>
    
        </div>
        
    </div>
    <div *ngIf="products" class="product-section">
        <div class="product" *ngFor="let item of products">
            <img alt="image"  src="{{item.image}}" >
        <div class="card-content">
            <p class="productName">{{item.name}}</p>
            <p class="productDescription">{{item.description}}</p>
            <p class="productPrice">$ {{ item.price | number: '1.2-2'}} USD</p>
        </div>
    </div>
        
    </div>
</div>