// colors
$primary-color: #185951;
$blackish-color: #141616;
$greyish-color: #646867;

// font sizing
$main-font-size :16px;
$header-font-size :54px;
$secondary-font-size :18px;

//spacing 
$main-padding : 16px;
$secondary-padding: 20px;

//box shadow
$box-shadow : 0px 4px 16px 0 rgb( 20 20 22/4%);